# Environment
*.env
venv/

# Dumps
creds/
data_dump/
catalog_docs/

# Python
__pycache__/
*.egg-info/
*.egg

# IDE
.vscode/

# Logs
logs/
*.log

# Dagster
dagster_home/


# Other
.DS_Store
**/.DS_Store
